<div>
    <h1>Hi! <%= comment.user.name %></h1>
    <br>
    <br>
    <p>Your comment &#34;<strong><%= comment.content %></strong>&#34; successfully posted on Codeial.</p>
    <br>
    <br>
    <h3>Thanks!</h3>
    
</div>